article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* General Styles */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.25;
}

h2 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

h4, li, p, table a {
  color: #585858;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

section {
  background: white;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #00bd97;
  font-size: 2.5rem;
}

.scrollRight,
aside {
  display: none;
}

table {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

table th:first-of-type {
  border-radius: 10px 0 0 0;
}

table th:last-of-type {
  border-radius: 0 10px 0 0;
}

table td:first-of-type {
  border-radius: 0 0 0 10px;
}

table td:last-of-type {
  border-radius: 0 0 10px 0;
}

th {
  background: #033363;
  color: white;
}

nav {
  font-family: "Lato", sans-serif;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: inline-block;
  padding: 20px 0;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0 30px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  margin: 15px auto;
}

.header__logo i {
  color: #00bd97;
  font-size: 1rem;
  margin-right: 5px;
}

.header__logo .fa-arrow-down {
  border-bottom: 3px solid #00bd97;
  font-size: 1.5rem;
}

.header__logo button {
  border: none;
  background: transparent;
  font-size: 1.6rem;
}

.header__logo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
}

.header__logo img {
  width: 130px;
  margin: 0 10px;
}

.fa-info {
  border: 2px solid #00bd97;
  padding: 3px 7px;
  border-radius: 50%;
}

header input[type="checkbox"],
header label {
  opacity: 0;
  position: absolute;
}

header label {
  top: 0;
  right: 0;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../ASSETS/GettyImages-689956326.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.header__image img {
  display: none;
}

.header__image > div {
  background: white;
  width: 34%;
  padding: 2%;
  margin: 4% 7.5%;
  border-radius: 15px 0px 15px 15px;
}

.header__image button {
  margin: 0 auto;
  color: white;
  background: #033363;
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.header__image button p {
  color: white;
  margin: 5px 30px;
}

.header__image button i {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h1 {
  color: #00bd97;
  font-size: 3.5rem;
  font-weight: 600;
}

header nav {
  background: #033363;
}

header nav img {
  width: 35px;
  margin-right: 15px;
  height: 15px;
}

header nav i {
  margin-right: 15px;
}

header nav ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav li {
  border: 2px solid #033363;
}

header nav li:first-of-type a {
  padding-left: 10px;
}

header nav li:last-of-type a {
  border-right: none;
  padding-right: 10px;
}

header nav li:hover, header nav li:focus {
  border-bottom: 2px solid white;
}

header nav li:hover a,
header nav li:focus a {
  text-shadow: 0.75px 0 0 white;
}

header a {
  letter-spacing: 1.25px;
  border-right: 1px dotted white;
}

@media (max-width: 1195px) {
  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header label {
    opacity: 1;
    font-size: 1.6rem;
    top: 30px;
    right: 7.5%;
    cursor: pointer;
  }
  header label i {
    color: #00bd97;
    font-size: 2rem;
    margin-right: 5px;
  }
  header nav {
    z-index: 10;
    position: absolute;
    top: 82px;
    right: -500px;
    width: 330px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav li {
    border-bottom: 1px solid white;
  }
  header nav li:last-of-type {
    border: #033363;
  }
  header nav a {
    font-size: 1.25rem;
  }
  header input[type="checkbox"]:checked + nav {
    right: 0;
  }
  .mainNav {
    width: 100%;
    padding-left: 15px;
    margin: 0 auto;
  }
  .mainNav a {
    border-right: none;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1020px) {
  .header__image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    max-height: calc(100vh - 83px);
    height: 570px;
    background: none;
  }
  .header__image > div {
    width: 50%;
    margin: 0;
    padding: 50px;
  }
  .header__image img {
    display: block;
    width: 500px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .header__image button {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (max-width: 825px) {
  .header__image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 645px;
    background-repeat: no-repeat;
    max-height: calc(100vh - 83px);
    background: url(../ASSETS/GettyImages-689956326.png);
    background-position: center right;
  }
  .header__image > div {
    padding: 25px;
  }
  .header__image img {
    display: none;
  }
  h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }
}

@media (max-width: 775px) {
  header .mainMenu {
    position: static;
    background: #00bd97;
    width: 100vw;
    white-space: nowrap;
  }
  header .mainMenu button {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: block;
    color: white;
    border: none;
    font-size: 1.75rem;
    padding: 15px;
    padding-right: 0;
    right: 0;
  }
  header .mainMenu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .mainMenu li {
    border: #00bd97;
    border-bottom: 3px solid #00bd97;
    padding: 10px 0;
  }
  header .mainMenu li:first-of-type {
    padding-right: 25px;
  }
  header .mainMenu a {
    border-right: 1px dotted white;
  }
  header .mainMenu a:last-of-type {
    padding-right: 25px;
  }
  header label {
    display: none;
  }
  .header__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo > div {
    margin-top: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__image {
    background: url(../ASSETS/GettyImages-689956326.jpg);
    background-position: bottom;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 605px;
    background-size: cover;
  }
  .header__image > div {
    width: 70%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    bottom: -50px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header__image button {
    color: #033363;
    background: transparent;
    width: 340px;
    bottom: -40px;
  }
  .header__image button i {
    color: #00bd97;
  }
  .header__image button p {
    color: #033363;
    display: inline;
    font-size: 2.25rem;
    margin: 0 5px;
  }
  .fourthSection__card--icons div img {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .header__image > div {
    width: 80%;
  }
  .header__logo div button {
    font-size: 1.25rem;
  }
  .fourthSection__card--icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourthSection__card--icons div img {
    height: 72px;
  }
}

.firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eff0f2;
}

.firstSection h2 {
  color: #00bd97;
  font-weight: 600;
}

.firstSection__card {
  border-radius: 30px;
  background: #f5f6f8;
  width: 85%;
  padding: 20px;
  margin: 70px;
}

.firstSection__card--figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstSection table {
  width: 50%;
  background: white;
}

.firstSection table th {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.firstSection table td {
  padding: 25px 50px;
}

.firstSection table td:first-of-type {
  border-right: 1px dotted grey;
  position: relative;
}

.firstSection table div:last-of-type {
  position: absolute;
  right: -25px;
  top: 40%;
  border-radius: 50%;
  background: #033363;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.circle-bg {
  fill: none;
  stroke: #c8c8c8;
  stroke-width: 0.8;
}

.circle {
  fill: none;
  stroke-width: 1.5;
  -webkit-animation: progress 5s ease-out forwards infinite;
          animation: progress 5s ease-out forwards infinite;
  stroke-linecap: round;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circularChart.green .circle {
  stroke: #00bd97;
}

.circularChart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #033363;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  text-anchor: middle;
}

.firstSection__card--figures > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.firstSection__card--figures > div svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  left: 15px;
}

.firstSection__card--figures > div p {
  background: #00bd97;
  color: white;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  font-size: 1.75rem;
}

.firstSection__card--figures > div span {
  font-size: 2.5rem;
}

.secondSection__title {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #5b666c), to(rgba(91, 102, 108, 0.55))), url(../ASSETS/doctor-patient.jpg);
  background: linear-gradient(to right, #5b666c 40%, rgba(91, 102, 108, 0.55)), url(../ASSETS/doctor-patient.jpg);
  background-position: center top;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondSection__title h2 {
  width: 50%;
  margin-left: 7.5%;
  padding: 50px 0;
}

.secondSection__card {
  margin: 75px auto;
}

.secondSection__card th {
  text-transform: uppercase;
}

.secondSection__card th,
.secondSection__card td {
  border-right: 5px solid white;
  padding: 15px;
}

.secondSection__card td {
  background: #eff0f2;
}

.secondSection__card td:first-of-type {
  background: #5b666c;
  color: white;
}

.thirdSection__title {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #5b666c), to(rgba(91, 102, 108, 0.55))), url(../ASSETS/doctor-clipboard.jpg);
  background: linear-gradient(to right, #5b666c 30%, rgba(91, 102, 108, 0.55)), url(../ASSETS/doctor-clipboard.jpg);
  background-position: left center;
  background-size: cover;
  padding: 50px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.thirdSection__title img {
  position: absolute;
  right: 7.5%;
  bottom: 0;
  height: 95%;
  width: 3px;
  border-radius: 15px;
}

.thirdSection__title li,
.thirdSection__title p {
  color: white;
  font-size: 1.75rem;
}

.thirdSection__title h2 {
  font-size: 3.5rem;
  margin-top: 0;
  margin: 15px 0;
}

.thirdSection__title--main {
  width: 50%;
  margin-left: 7.5%;
}

.thirdSection__title--aside {
  margin-right: 7.5%;
}

.thirdSection__title--aside li {
  font-size: 1.5rem;
  border-top: 1px dotted white;
  list-style: none;
  padding: 15px 0;
  margin-right: 20px;
  padding-right: 35px;
}

.thirdSection__title--aside li:last-of-type {
  border-bottom: 1px dotted white;
}

.thirdSection__card {
  margin: 75px auto;
}

.thirdSection__card table {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.thirdSection__card th {
  padding: 15px;
}

.thirdSection__card tr td:first-of-type {
  width: 33%;
}

.thirdSection__card td, .thirdSection__card th {
  border-right: 2px solid white;
}

.thirdSection__card tr:nth-of-type(odd) {
  background: #eff0f2;
}

.thirdSection__card--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdSection__card button {
  background: #033363;
  color: white;
  border: none;
}

.thirdSection__card button img {
  width: 15px;
}

.thirdSection__card button:first-of-type {
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 1.5rem;
}

.thirdSection__card button:nth-of-type(2) {
  border-radius: 50%;
  padding: 5px 12px;
}

.fourthSection__title {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #5b666c), to(rgba(91, 102, 108, 0.4))), url(../ASSETS/smiling-patient.jpeg);
  background: linear-gradient(to right, #5b666c 50%, rgba(91, 102, 108, 0.4)), url(../ASSETS/smiling-patient.jpeg);
  padding: 30px 0;
  background-position: center right;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourthSection__title p {
  color: white;
  font-size: 1.75rem;
}

.fourthSection__title--main {
  margin-left: 7.5%;
  width: 50%;
}

.fourthSection__card {
  margin: 50px auto;
}

.fourthSection__card p {
  margin: 10px 0;
}

.scrollTop {
  position: -webkit-sticky;
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding: 10px 14px;
  border-radius: 50%;
  background: #033363;
  color: white;
  border: none;
  display: block;
}

.scrollTop p {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.fourthSection__card--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fourthSection__card--icons > div {
  width: 200px;
  text-align: center;
}

.fourthSection__card--icons span {
  font-size: 2.75rem;
  font-family: "Open Sans";
}

.fourthSection__card--icons p {
  text-align: center;
}

.fourthSection__card--icons img {
  height: 72px;
}

.greenBar {
  width: 150px;
  height: 4px;
  background: #00bd97;
  border-radius: 15px;
  margin: 20px auto;
}

.contact__title {
  height: 35vh;
  background: #00bd97;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.contact__title span {
  font-size: 1.25rem;
  position: relative;
  top: -15px;
}

.contact__title button {
  background: white;
  font-size: 1.5rem;
  padding: 15px 25px;
  border-radius: 35px;
  border: none;
  margin-bottom: 25px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

.contact__title h2 {
  font-weight: 600;
}

.contact__title i {
  padding: 0 10px;
  font-size: 1.5rem;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.contact__main img {
  margin-right: 20px;
}

.contact__main ul {
  list-style: none;
  font-size: 2rem;
}

.contact__main li::before {
  content: "\2022";
  color: #00bd97;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.contact__main table {
  background: #eff0f2;
  font-family: "Lato", sans-serif;
  border-collapse: separate;
  border-radius: 10px;
}

.contact__main table td:last-of-type {
  border-radius: 0;
}

.contact__main table tr:first-of-type,
.contact__main table tr:first-of-type td {
  border-radius: 10px 10px 0 0;
}

.contact__main table tr:last-of-type,
.contact__main table tr:last-of-type td {
  border-radius: 0 0 10px 10px;
}

.contact__main table p {
  margin: 0;
}

.contact__main td {
  border: 2px solid white;
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__main tr:last-of-type td {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__main tr:last-of-type td,
.contact__main tr:first-of-type td {
  padding-top: 30px;
}

.contact__main__firstCard {
  padding-right: 50px;
}

.contact__main div {
  width: 100%;
}

.contact__main button {
  background: #00bd97;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 15px 20px;
  width: 225px;
  margin: 15px 0;
}

.contact__main button img {
  width: 20px;
  height: 20px;
  padding: 0 10px;
  margin: 0;
}

.contact__main__secondCard > p {
  font-size: 1.25rem;
}

.clockIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.clockIcon,
.faxIcon {
  height: 30px;
  width: 30px;
}

.mobileIcon {
  padding: 0 5px;
  width: 20px;
  height: 30px;
}

.envelopeIcon {
  width: 30px;
  height: 25px;
}

@media (max-width: 1020px) {
  .contact__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .firstSection__card--figures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstSection__card--figures table {
    width: 100%;
  }
  .firstSection__card--figures > div {
    width: 100%;
  }
  .firstSection__card--figures > div svg {
    display: none;
  }
  .thirdSection__title {
    background-position: right center;
  }
  .thirdSection__card tr td:first-of-type {
    width: 20%;
  }
  .thirdSection__card table,
  .secondSection__card table {
    width: 1000px;
  }
}

@media (max-width: 800px) {
  .secondSection__title h2 {
    width: 70%;
    padding: 20px;
  }
  .thirdSection__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  .thirdSection__title > div {
    width: 80%;
  }
  .thirdSection__title img {
    display: none;
  }
  .fourthSection__title div {
    width: 70%;
    padding: 20px;
  }
}

@media (max-width: 775px) {
  h4, li, p, table td, table a {
    font-size: 1.75rem;
  }
  .firstSection {
    width: 100%;
    margin: 0 auto;
    padding-top: 75px;
  }
  .firstSection__card {
    width: 100%;
    padding: 0;
    margin: 5%;
    padding: 2.5%;
    background: #eff0f2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .firstSection__card h2 {
    text-align: center;
    font-size: 2.25rem;
  }
}

@media (max-width: 500px) {
  .thirdSection__title h2,
  h2 {
    font-size: 2.75rem;
  }
  .contact__title h2 {
    text-align: center;
  }
  .firstSection table td {
    padding: 20px;
  }
  .firstSection table div:last-of-type {
    padding: 10px;
    right: -20px;
  }
  .contact__main td {
    padding: 15px 25px;
    font-size: 1.75rem;
  }
}

footer {
  border-top: 2px solid #00bd97;
}

footer aside {
  padding: 30px;
}

footer nav {
  color: white;
  background: #5b666c;
}

footer nav ul {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

footer nav aside a {
  text-transform: initial;
}

footer nav li {
  padding: 15px 0;
}

footer nav li:last-of-type a {
  border-right: 0;
}

footer nav p {
  color: white;
  text-align: center;
  margin: 0;
}

footer nav aside p {
  font-size: 2rem;
}

footer a {
  padding: 0 15px;
  font-size: 1.25rem;
  border-right: 2px solid #00bd97;
}

footer a:hover, footer a:focus {
  text-decoration: underline;
}

.footer__asideText {
  padding: 25px 0;
}

.footer__asideText p {
  font-size: 1.25rem;
}

.footer__asideText h4,
.footer__asideText li {
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  footer nav li {
    padding: 0;
  }
  aside {
    display: block;
  }
}
